# OS
.DS_Store
Thumbs.db

# IntelliJ
.idea/
*.iml

# Maven
**/target/

# Node
**/node_modules/
**/dist/

# Logs
*.log

# Env files
**/.env

# Docker volumes (local)
postgres-data/

# (opsiyonel) local config secrets dosyaları varsa
# config-repo/*.yml
